# TeX auxiliary files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Windows Zone.Identifier files
*:Zone.Identifier
*.Zone.Identifier

# Python cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
